@font-face {
  font-family: "Fremtind Grotesk";
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
  src: local("Fremtind Grotesk"),
    url("fonts/FremtindGrotesk-Regular-Web.woff") format("woff"),
    url("fonts/FremtindGrotesk-Regular-Web.woff2") format("woff2");
}
